<nav class="main-menu" id="left">

  <div class="sidebar">
    <%=image_tag('menulogo.png') %>
    <div id="leftside-navigation" class="nano">
      <ul>

        <li class="sub-menu">
          <%= link_to(image_tag('acc.png') + content_tag(:span,current_user.nick_name),'javascript:void(0);')%>
          <ul>
            <li>  <%= link_to(image_tag('logout.png') + content_tag(:span,'Logout'), logout_path)%>
            </li>

          </ul>
        </li>

         <li class="sub-menu">
          <%= link_to(image_tag('Download.png') + content_tag(:span,'Upload'),new_user_resource_path(current_user.id))%>

          </li>
        <li class="sub-menu">
          <%= link_to(image_tag('Upload.png') + content_tag(:span,'Resources'),'javascript:void(0)')%>
          <ul>
            <li id="all"> <%= link_to(image_tag('allbtn.png') + content_tag(:span,'All'),'javascript:void(0)')%></li>

            <li id="file"> <%= link_to(image_tag('filesbtn.png') + content_tag(:span,'Files'),'javascript:void(0)') %></li>
            <li id="image"> <%= link_to(image_tag('photobtn.png') + content_tag(:span,'Photos'),'javascript:void(0)')%></li>
            <li id="video"> <%= link_to(image_tag('videobtn.png') + content_tag(:span,'Videos'),'javascript:void(0)')%></li>
            <li id="audio"> <%= link_to(image_tag('audiobtn.png') + content_tag(:span,'Audios'),'javascript:void(0)')%></li>

          </ul>
        </li>
        <li><form><button type="submit" name="" value="find" id="get-files" ><%= image_tag('searchbtn.png')%></button>
          <div class="searchbox"><input id="key-value" type="text" value="" name="" placeholder="KEY" required=""/></div>

        </form></li>




      </ul>
    </div>

  </div>
</nav>