<nav class="main-menu" id="left">

  <div class="sidebar">

    <div id="leftside-navigation" class="nano">
      <ul>

         <li class="sub-menu">
          <%= link_to(image_tag('Download.png') + content_tag(:span,'Download'),'javascript:void(0);')%>
            <ul>
              <li>  <%= link_to(image_tag('folderbtn.png') + content_tag(:span,'Folders'), new_user_resource_path(current_user.id))%>
              </li>
              <li>  <%= link_to(image_tag('filesbtn.png') + content_tag(:span,'Files'),'#')%>
              </li>
              <li>  <%= link_to(image_tag('photobtn.png') + content_tag(:span,'Photos'),'#')%>
              </li>
              <li>  <%= link_to(image_tag('videobtn.png') + content_tag(:span,'Videos'),'#')%>
              </li>
              <li>  <%= link_to(image_tag('audiobtn.png') + content_tag(:span,'Audios'),'#')%>
              </li>

           </ul>
          </li>
        <li class="sub-menu">
          <%= link_to(image_tag('Upload.png') + content_tag(:span,'Resources'),'javascript:void(0)')%>
          <ul>
            <li>  <%= link_to(image_tag('allbtn.png') + content_tag(:span,'All'),'#')%>
            </li>
            <li>  <%= link_to(image_tag('folderbtn.png') + content_tag(:span,'Folders'),'#')%>
            </li>
            <li>  <%= link_to(image_tag('filesbtn.png') + content_tag(:span,'Files'),'#')%>
            </li>
            <li>  <%= link_to(image_tag('photobtn.png') + content_tag(:span,'Photos'),'#')%>
            </li>
            <li>  <%= link_to(image_tag('videobtn.png') + content_tag(:span,'Videos'),'#')%>
            </li>
            <li>  <%= link_to(image_tag('audiobtn.png') + content_tag(:span,'Audios'),'#')%>
            </li>

          </ul>
        </li>
        <li><form><button type="submit" name="" value="find" ><%= image_tag('searchbtn.png')%></button>
          <div class="searchbox"><input type="text" value="" name="" placeholder="KEY" required=""/></div>

        </form></li>


      </ul>
    </div>

  </div>
</nav>