<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Disk Place</title>

</head>


<%= render 'main_menu' %>

<%= render 'header'%>

<%= render 'top_menu' %>

<%= render 'file_content' %>

<%= render 'footer' %>



<%= javascript_include_tag('users')%>