
<div id="filekeybox">
<h2>Your file keys</h2>
<% @file_keys.each do |fk|%>
  <br>
  <div class="filekeyblock">
    <h4>FileKey:</h4><p><%= fk.file_key %></p>
    <h4>Created at:</h4><p><%= fk.created_at %></p>
    <h4>Key for files: </h4><p>
    <% @resources.each do |res|%>
      <%= res.file_file_name %>,
    <% end %></p>

    <button id="<%= fk.id %>" class="file_key_delete">Delete</button>
  </div>
<% end %>
<%= javascript_include_tag 'file_keys'%>
</div>