<% @file_keys.each do |fk|%>
  <br>
  <div>
    <h2>FileKey:</h2><%= fk.file_key %><br>
    <h2>Created at:</h2><%= fk.created_at %><br>
    <h2>Key for files: </h2>
    <% @resources.each do |res|%>
      <%= res.file_file_name %>,
    <% end %>
    <br>
    <strong id="<%= fk.id %>" class="file_key_delete">Delete</strong>
  </div>
<% end %>
<%= javascript_include_tag 'file_keys'%>
