
  <%= javascript_include_tag('file')%>

    <% current_user_resources.each do |resource|%>
    <div class="media", id="<%= resource.id %>">

      <% case resource.resource_type %>
      <% when 'image', 'file', 'archive' %>
        <%=  image_tag(resource_file_filter(resource), class: 'media-object', width: '150px', height: '150px') %>
      <% when 'audio' %>
        <audio  controls>
          <source src="<%= resource.file.url %>"
                  type="<%= resource.file_content_type%>">
          Your browser does not support the audio element.
        </audio>
      <% when 'video' %>
        <video controls controlsList="nodownload">
          <source src="<%= resource.file.url %>"
                  type="<%= resource.file_content_type%>">
          Your browser does not support the video element.
        </video>
      <% end %>
      <div class="clear"></div>
      <div class="firstmedia">
        <h4 class="media-heading">
          <%= File.basename(resource.file_file_name) %>
        </h4>
        <h4 class="media-ext"> <%= File.extname(resource.file_file_name) %></h4>
      </div>
      <div id="<%= resource.id %>" class="secondmedia">
        <% if current_user.resources.ids.include? resource.id %>
          <%= image_tag('deletebtn.png', class: 'destroy') %>
          <%= image_tag('keybtn.png', class: 'generate')%>
        <% end %>
        <%= link_to image_tag('downbtn.png'),download_user_resource_path(:id => resource.id, :user_id => current_user.id),class: 'download'%>
      </div>

    </div>
    <% end %>
  <div class="clear"></div>


