
  <%= javascript_include_tag('file')%>
    <div><%= link_to(image_tag('scrollup.png'),{}, id: 'scrollup')%></div>

    <% current_user_resources.each do |resource|%>
    <div class="media", id="<%= resource.id %>">
      <% case resource.resource_type %>
      <% when 'image', 'file' %>
        <%= link_to image_tag(resource_file_filter(resource), class: 'media-object', width: '150px', height: '150px'),
                    resource_file_filter(resource), target: '_blank' %>
      <% when 'audio' %>

        <audio  controls>
          <source src="<%= resource.file.url %>"
                  type="<%= resource.file_content_type%>">
          Your browser does not support the audio element.
        </audio>
      <% when 'video' %>
        <video  controls >
          <source src="<%= resource.file.url %>"
                  type="<%= resource.file_content_type%>">
          Your browser does not support the video element.
        </video>
      <% end %>
      <div class="clear"></div>
      <h4 class="media-heading">
        <%= File.basename(resource.file_file_name, File.extname(resource.file_file_name)) %>
        <%= link_to 'download', download_user_resource_path(:id => resource.id, :user_id => current_user.id)%>
      </h4>   <%= image_tag('deletefile.png', class: 'destroy') %>
    </div>
    <% end %>
  <div class="clear"></div>


