<%= form_with(model: resource, local: true) do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :file_name %>
    <%= form.text_field :file_name, id: :resource_file_name %>
  </div>

  <div class="field">
    <%= form.label :file_type %>
    <%= form.text_field :file_type, id: :resource_file_type %>
  </div>

  <div class="field">
    <%= form.label :file_size %>
    <%= form.number_field :file_size, id: :resource_file_size %>
  </div>

  <div class="field">
    <%= form.label :file_path %>
    <%= form.text_field :file_path, id: :resource_file_path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
