<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= @resource.file_name %>
</p>

<p>
  <strong>File type:</strong>
  <%= @resource.file_type %>
</p>

<p>
  <strong>File size:</strong>
  <%= @resource.file_size %>
</p>

<p>
  <strong>File path:</strong>
  <%= @resource.file_path %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
